{% if eleves %}
    <ul class="listing eleveItems">
        {% for eleve in eleves %}
            <li class="item eleveItem">
                <a href="{{ path('eleve_show', { 'id': eleve.id }) }}">
                    <div class="nomComplet">
                        {{ eleve.nom }} {{eleve.prenom}}
                    </div>
                    <span class="classe">{{ eleve.classe.nom}}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <div class="noResult">
        Aucun résultat
    </div>
{% endif %}
