&:root {
	font-size: 16px;
	font-family: 'Open Sans';
	--text-primary: #b6b6b6;
	--text-secondary: #ececec;
	--bg-primary: #23232e;
	--bg-secondary: #141418;
	--transition-speed: 600ms;
	height: 100%;
}
body {
	color: black;
	background-color: white;
	margin: 0;
	padding: 0;
	height: 100%;
}
#content {
	margin-left: 5rem;
	padding: 1rem;
}

/** NAV BAR */
.navbar {
	position: fixed;
	background-color: var(--bg-primary);
	transition: width 600ms ease;
	&:hover {
		.logo {
			svg {
				transform: rotate(-180deg);
			}
		}
	}
}
.navbar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}
.nav-item {
	width: 100%;
	&:last-child {
		margin-top: auto;
	}
}
.nav-link {
	display: flex;
	align-items: center;
	height: 5rem;
	color: var(--text-primary);
	text-decoration: none;
	filter: grayscale(100%) opacity(0.7);
	transition: var(--transition-speed);
	&:hover {
		filter: grayscale(0%) opacity(1);
		background: var(--bg-secondary);
		color: var(--text-secondary);
	}
	svg {
        display: block;
		width: 2rem;
		min-width: 2rem;
		margin: 0 1.5rem;
	}
}
.link-text {
	display: none;
	margin-left: 1rem;
}
.logo {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1rem;
	text-align: center;
	color: var(--text-secondary);
	background: var(--bg-secondary);
	font-size: 1.5rem;
	letter-spacing: 0.3ch;
	width: 100%;
	svg {
		transform: rotate(0deg);
		transition: var(--transition-speed);
	}
}
.logo-text {
	display: inline;
	position: absolute;
	left: -999px;
	transition: var(--transition-speed);
}
@media only screen and (max-width: 600px) {
	.navbar {
		bottom: 0;
		width: 100vw;
		height: 5rem;
        display: flex;
	}
	.logo {
		display: none;
	}
	.navbar-nav {
		flex-direction: row;
	}
    .nav-item {
        list-style: none;
        .nav-link {
    		justify-content: center;
    	}
    }
	#content {
		margin: 0;
	}
}
@media only screen and (min-width: 600px) {
	.navbar {
		top: 0;
		width: 5rem;
		height: 100vh;
		&:hover {
			width: 16rem;
			.link-text {
				display: inline;
			}
			.logo {
				svg {
					margin-left: 11rem;
				}
			}
			.logo-text {
				left: 0px;
			}
		}
	}
}

/** LOADER **/
div.loader {
	position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
	display: none;
}

/** FORM **/
form {
	fieldset {
		border: 0;
		.inline-block {
			display: inline-block;
		}
	}
	input[type="password"]:focus, input[type="password"]:active, input[type="text"]:focus, input[type="text"]:active, input[type="number"]:focus, input[type="number"]:active, input[type="tel"]:focus, input[type="tel"]:active, input[type="email"]:focus, input[type="email"]:active, textarea:focus, textarea:active {
	    border-color: #000;
	    color: #000;
	}
	input[type="password"], input[type="text"], input[type="number"], input[type="tel"], input[type="email"], textarea {
	    box-sizing: border-box;
	    border: 1px solid transparent;
	    padding: 10px 20px;
	    line-height: 1;
	    border-radius: 3px;
	    background: #f3f3f3;
	    max-width: 100%;
	    transition: border .3s ease;
	}
	select {
	    border: 1px solid transparent;
		border-radius: 3px;
	    background: #f3f3f3;
	    width: 235px;
	    padding: 10px 20px;
	    cursor: pointer;
	}
	input.submitBtn{
	    font-size: 1rem;
	    padding: 10px 20px;
	    border-radius: 2px;
	    line-height: 1;
	    border: 0;
	    transition: all .3s ease;
	    background: var(--bg-primary);
		color: var(--text-primary);
	    font-weight: 700;
		cursor: pointer;
		&:hover {
			background: var(--bg-secondary);
			color: var(--text-secondary);
		}
	}
}

/** LISTING **/
ul.listing {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0;
	list-style: none;
	margin-right: -2%;
	.item {
		&:hover {
			box-shadow: 0 4px 20px rgba(0,0,0,0.2);
		}
		box-shadow: 0 2px 10px rgba(0,0,0,0.05);
		box-sizing: border-box;
		background: none;
		flex: 0 0 23%;
		padding: 0;
		position: relative;
		margin-top: 1rem;
		margin-right: 2%;
		position: relative;
		a {
			color: #333333;
			font-weight: 700;
			text-decoration: none;
		}
		div.nomComplet {
			padding-top: 2rem;
			padding-bottom: 3.5rem;
			text-align: center;
		}
		span.classe {
			position: absolute;
			bottom: 1rem;
			right: 1rem;
		}
	}
}

@media only screen and (max-width: 600px) {
	ul.listing {
		margin: 0;
		.item {
			flex: 0 0 100%;
			margin: 0;
		}
	}
}

/** COMING SOON Page **/
#coming-soon, #home {
	/* The image used */
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../images/coming-soon.jpg");

	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	> h1, .home-info {
		color: #fff;
		position: absolute;
	    top: 50%;
	    left: 50%;
	    -moz-transform: translateX(-50%) translateY(-50%);
	    -webkit-transform: translateX(-50%) translateY(-50%);
	    transform: translateX(-50%) translateY(-50%);
		text-align: center;
	}
}
