<nav class="navbar">
    <li class="logo">
        <a href="{{ path('home') }}" class="nav-link">
            <span class="link-text logo-text">Accueil</span>
            <svg id="blue_copy" style="enable-background:new 0 0 100 100;" version="1.1" viewBox="0 0 100 100" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Layer_8_copy_4_1_"><path <path fill="currentColor" d="M41.762,27.26v8.294c0,0.571,0.305,1.1,0.8,1.385l20.212,11.669c1.066,0.616,1.066,2.155,0,2.771L42.562,63.048   c-0.495,0.286-0.8,0.814-0.8,1.385v8.294c0,1.231,1.333,2.001,2.399,1.385l39.375-22.733c1.066-0.616,1.066-2.155,0-2.771   L44.161,25.875C43.095,25.259,41.762,26.029,41.762,27.26z"/><path <path fill="currentColor" d="M83.537,48.608L44.161,25.875c-0.193-0.112-0.395-0.164-0.597-0.19l37.972,21.923c1.066,0.616,1.066,2.155,0,2.771   L42.161,73.112c-0.1,0.058-0.205,0.092-0.308,0.126c0.308,0.914,1.401,1.398,2.308,0.874l39.375-22.733   C84.603,50.763,84.603,49.224,83.537,48.608z"/><path <path fill="currentColor" d="M41.762,27.26v8.294c0,0.571,0.305,1.1,0.8,1.385l20.212,11.669   c1.066,0.616,1.066,2.155,0,2.771L42.562,63.048c-0.495,0.286-0.8,0.814-0.8,1.385v8.294c0,1.231,1.333,2.001,2.399,1.385   l39.375-22.733c1.066-0.616,1.066-2.155,0-2.771L44.161,25.875C43.095,25.259,41.762,26.029,41.762,27.26z" style="fill:none;stroke:#000000;stroke-miterlimit:10;"/><path <path fill="currentColor" d="M14.664,27.273v8.294c0,0.571,0.305,1.1,0.8,1.385l20.212,11.669c1.066,0.616,1.066,2.155,0,2.771L15.464,63.061   c-0.495,0.286-0.8,0.814-0.8,1.385v8.294c0,1.231,1.333,2.001,2.399,1.385l39.375-22.733c1.066-0.616,1.066-2.155,0-2.771   L17.063,25.888C15.997,25.272,14.664,26.042,14.664,27.273z"/><path <path fill="currentColor" d="M56.438,48.621L17.063,25.888c-0.193-0.112-0.395-0.164-0.597-0.19l37.972,21.923c1.066,0.616,1.066,2.155,0,2.771   L15.063,73.125c-0.1,0.058-0.205,0.092-0.308,0.126c0.308,0.914,1.401,1.398,2.308,0.874l39.375-22.733   C57.505,50.776,57.505,49.237,56.438,48.621z"/><path <path fill="currentColor" d="M14.664,27.273v8.294c0,0.571,0.305,1.1,0.8,1.385l20.212,11.669   c1.066,0.616,1.066,2.155,0,2.771L15.464,63.061c-0.495,0.286-0.8,0.814-0.8,1.385v8.294c0,1.231,1.333,2.001,2.399,1.385   l39.375-22.733c1.066-0.616,1.066-2.155,0-2.771L17.063,25.888C15.997,25.272,14.664,26.042,14.664,27.273z" style="fill:none;stroke:#000000;stroke-miterlimit:10;"/></g></svg>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('classe_list') }}" class="nav-link">
            <span class="link-text">Classes</span>
            <svg xmlns="http://www.w3.org/2000/svg" id="Icons" viewBox="0 0 74 74" width="512" height="512"><path fill="currentColor" d="M57.7,72.5H16.3a4.625,4.625,0,0,1-4.62-4.62V35.334a25.322,25.322,0,0,1,50.645,0V67.88A4.625,4.625,0,0,1,57.7,72.5ZM37,12.012A23.348,23.348,0,0,0,13.678,35.334V67.88A2.623,2.623,0,0,0,16.3,70.5H57.7a2.623,2.623,0,0,0,2.62-2.62V35.334A23.348,23.348,0,0,0,37,12.012Z"/><path fill="currentColor" d="M52.95,37.539H21.05a1,1,0,0,1-1-1V34.782a16.95,16.95,0,0,1,33.9,0v1.756A1,1,0,0,1,52.95,37.539Zm-30.9-2h29.9v-.756a14.95,14.95,0,0,0-29.9,0Z"/><path fill="currentColor" d="M52.4,66.661H21.6a2.432,2.432,0,0,1-2.43-2.43V47.083a2.433,2.433,0,0,1,2.43-2.43H52.4a2.433,2.433,0,0,1,2.43,2.43V64.231A2.432,2.432,0,0,1,52.4,66.661ZM21.6,46.653a.43.43,0,0,0-.43.43V64.231a.43.43,0,0,0,.43.43H52.4a.43.43,0,0,0,.43-.43V47.083a.43.43,0,0,0-.43-.43Z"/><path fill="currentColor" d="M53.834,53.868H20.166a1,1,0,0,1,0-2H53.834a1,1,0,1,1,0,2Z"/><path fill="currentColor" d="M67.5,63.742h-6.18a1,1,0,0,1-1-1V50.566a1,1,0,0,1,1-1H66.48a1.941,1.941,0,0,1,1.938,1.756L69.44,61.6A1.948,1.948,0,0,1,67.5,63.742Zm-5.18-2H67.5L66.429,51.52l-4.106.037Z"/><path fill="currentColor" d="M67.87,56.657H61.322a1,1,0,0,1,0-2H67.87a1,1,0,0,1,0,2Z"/><path fill="currentColor" d="M12.678,63.742H6.5A1.948,1.948,0,0,1,4.56,61.6L5.581,51.321A1.941,1.941,0,0,1,7.52,49.566h5.158a1,1,0,0,1,1,1V62.742A1,1,0,0,1,12.678,63.742ZM7.52,51.566,6.55,61.8l5.128-.048V51.566Z"/><path fill="currentColor" d="M12.678,56.657H6.13a1,1,0,0,1,0-2h6.548a1,1,0,1,1,0,2Z"/><path fill="currentColor" d="M45.759,13.648a1,1,0,0,1-1-1V5.443a.944.944,0,0,0-.943-.943H30.18a.944.944,0,0,0-.943.943v7.205a1,1,0,1,1-2,0V5.443A2.947,2.947,0,0,1,30.18,2.5H43.815a2.947,2.947,0,0,1,2.943,2.943v7.205A1,1,0,0,1,45.759,13.648Z"/></svg>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('eleve_list') }}" class="nav-link">
            <span class="link-text">Eleves</span>
            <svg enable-background="new 0 0 24 24" id="Layer_1" version="1.0" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon fill="currentColor" points="12,3 1,9 12,15 23,9 "/><polygon fill="currentColor" points="19,12.8 12,17 5,12.8 5,17.2 12,21 19,17.2 "/><rect fill="currentColor" height="8" width="2" x="21" y="9"/></svg>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('professeur_list') }}" class="nav-link">
            <span class="link-text">Professeurs</span>
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            	 width="31.034px" height="31.034px" viewBox="0 0 31.034 31.034" style="enable-background:new 0 0 31.034 31.034;"
            	 xml:space="preserve">
            <g>
            	<g>
            		<circle fill="currentColor" cx="15.512" cy="4.234" r="4.234"/>
            		<path fill="currentColor" d="M28.87,15.732h-5.459L21.77,9.737l-4.621-0.632l-1.563,1.873L13.97,9.105L9.263,9.706l-1.748,6.026H2.164v3.466h2.163
            			v11.836h22.38V19.198h2.163V15.732z M20.869,15.732h-0.887l-0.1-3.515L20.869,15.732z M10.854,12.379v3.353H9.865L10.854,12.379z"
            			/>
            	</g>
            </g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            </svg>
        </a>
    </li>
</nav>
